includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    ignoreErrors:
        - '#Class App\\Models\\Question uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types#'
        - '#Method App\\Models\\Question::likes\(\) return type with generic class Illuminate\\Database\\Eloquent\\Casts\\Attribute does not specify its types: TGet, TSet#'
        - '#Method App\\Models\\Question::unlikes\(\) return type with generic class Illuminate\\Database\\Eloquent\\Casts\\Attribute does not specify its types: TGet, TSet#'
        - '#Parameter \#1 \$view of function view expects view-string\|null, string given#'
    reportUnmatchedIgnoredErrors: false

    paths:
        - app/

    level: 6
